node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*.local
.env.local

dist/
build/
coverage/


#prisma/migrations/


node_modules/@prisma/

*.log
logs/
*.pid
*.seed
*.pid.lock


*.tsbuildinfo


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


tmp/
temp/
.cache/
